@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

.name {
    font-size: 28px;
}

.title-h1 {
    font-size: 74px;
    text-transform: uppercase;
}